.cssmove{
			width: 200px;
			height: 200px;
			background-image: url('tx.png');
			z-index: 0;
			margin: 100px auto;
		}

		.cssmove:hover::before{
			content: "";
			position: relative;
			/*width: 206px;
			height: 206px;
			left: -3px;
			top: -3px;
			border:1px solid red;*/
			display: block;
			animation: boxmove_before 3s infinite;*/
		}

		
		@keyframes boxmove_before{
			0%{
				border-top: 1px solid #000;
				border-right: 0px solid #000;
				border-bottom: 0px solid #000;
				border-left: 1px solid #000;
				left: -3px;
				top: -3px;
				width: 205px;
				height: 1px;
			}
			25%{
				border-top: 0px solid #000;
				border-right: 0px solid #000;
				border-bottom: 0px solid #000;
				border-left: 1px solid #000;
				left: -3px;
				top: -3px;
				width: 1px;
				height: 205px;
			}
			50%{
				border-top: 0px solid #000;
				border-right: 0px solid #000;
				border-bottom: 1px solid #000;
				border-left: 0px solid #000;
				left: -3px;
				top: 202px;
				width: 205px;
				height: 1px;
			}
			75%{
				border-top: 0px solid #000;
				border-right: 1px solid #000;
				border-bottom: 0px solid #000;
				border-left: 0px solid #000;
				left: 202px;
				top: -3px;
				width: 1px;
				height: 205px;
			}
			100%{
				border-top: 1px solid #000;
				border-right: 1px solid #000;
				border-bottom: 0px solid #000;
				border-left: 0px solid #000;
				left: -3px;
				top: -3px;
				width: 205px;
				height: 1px;
			}
		}
		